[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
torch = "*"
scikit-learn = "*"
seaborn = "*"
tensordict = "*"
roboflow = "*"
torchvision = "*"
efficientnet-pytorch = "*"

[dev-packages]

[requires]
python_version = "3.11"
